<p id="notice"><%= notice %></p>

<p>
  <strong> Nome  </strong>
  <%= @clinic.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @clinic.email %>
</p>

<p>
  <strong>Logo:</strong>
  <%=  renderImg(@clinic.logo) %>
</p>
<p>
  <strong> Estado  </strong>
  <%= @clinic.state.description %>
</p>

<%= link_to 'Editar', edit_clinic_path(@clinic) %> |
<%= link_to 'Voltar', clinics_path %>
