<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @ong.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ong.email %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ong.state.description %>
</p>

<p>
  <strong>Logo:</strong>
  <%= renderImg(@ong.logo) %>
</p>

<%= link_to 'Editar', edit_ong_path(@ong) %> |
<%= link_to 'Voltar', ongs_path %>
